{% extends "shop/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="h4 mb-3">{{ title }}</h1>
<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-md-8">
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% if product and product.image %}
                <p>Текущее изображение:</p>
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid mb-3">
            {% endif %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'shop:product_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}


